
div div div div h3{
  color:green;
}
    body div p{
    color:mediumblue;
        
}
h6 {
    color:red
}
p.F { 
  background: purple;
 }
 p.F { 
  color: whitesmoke;
 }
 #Z {
  background-color: yellow;
  }